/* 
  Colors: 
    Light Grey: 888788
    dark grey: 292929
    off white: f8f6f8
*/
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
:root {
  --textgrey: #292929; 
}

::selection {
  background-color: #FE6B8B;
  color: #fff;
}

body {
  /* overflow-x: hidden; */
}

h1, h2, h3, h4, p{
  font-family: 'Montserrat', sans-serif;
  color: var(textgrey);
  margin: 0;
  padding: 0;
}

h1 {font-weight: 100;}
h3 {font-size: 16px; font-weight: 400;}
h4 {
  font-size: 24px;
  font-weight: 550;
}
p {
  font-size: 16px;
  font-weight: 400;
}

.bg-off-white {
  background-color: #f8f6f8;
}



#subHeading {
  opacity: 0;
  /* margin-top: -50px; */
  transition: all 0.3s ease-in-out;
}

#cursor {
  animation: blink 0.6s alternate infinite;
  font-weight: 500;
}

@keyframes blink {
  0%, 49% {
    opacity: 0;
  } 
  50%, 100% {
    opacity: 1;
  }
}