@import url('https://fonts.googleapis.com/css2?family=Marck+Script');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');
/* font-family: 'Marck Script', cursive;
font-family: 'Raleway', sans-serif; */

:root {
    --b1: #e6bda1;
    --b2: #e9d4cd;
    --b3: #d19a73;
    --mud: #b29f81;
    --black: #29282e;
    --black2: #222125;
    scroll-behavior: smooth;
}

::selection {
    background: #d19a73;
}

/* width */
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #754e3d;
    border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #5c3e34;
}

body {
    background-color: var(--black);
}

h2 {
    font-family: 'Raleway', sans-serif;
    color: #fff;
    font-size: 24px;
}

h3 {
    font-family: 'Marck Script', cursive;
    color: #fff;
    font-size: 5em;
    margin: 0;
    padding: 0;
    font-weight: 300;
}

h4 {
    font-family: 'Marck Script', cursive;
    color: #fff;
    font-size: 2.5em;
    margin: 0;
    padding: 0;
    font-weight: 300;
}

p {
    font-family: inherit;
    font-weight: 200;
    color: white;
    margin: 0;
    padding: 0;
    font-size: 1.25em;
}

img {
    user-select: none;
}

.nav-show {
    margin-top: 0 !important;
}

.nav-hide {
    margin-top: -100% !important;
}

.social-button {
    flex-direction: column;
    position: fixed;
}
